@import "custom";
@import "~bootstrap/scss/bootstrap-grid";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap");
@import "../../public/fonts/font.css";
$accent: #ab3331;
$dark: #23292f;

body {
  font-family: "roboto", sans-serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

summary {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
}

.red {
  color: $accent;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;

  @media (max-width: 991px) {
    font-size: 30px;
  }
}

h4 {
  color: $accent;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.title-before {
  font-size: 19px;
  letter-spacing: 0.08rem;
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-title {
  margin-bottom: 20px;
}

.btn {
  text-transform: uppercase;
  box-shadow: 2px 2px 2px rgba(#000, 0.5);
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  width: 270px;

  &_section {
    margin: 0 auto;
  }

  @media (max-width: 991px) {
    width: auto;
    padding: 20px 40px;
  }
}

.arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #000;
}

.bold {
  font-weight: 700;
  font-size: 18px;
}

.sub-text {
  color: rgba($color: #000, $alpha: 0.5);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works {
  padding: 60px 0;
  display: flex;
  align-items: center;
  background-color: #1f1f20;
}

.master {
  padding: 0 10px;
  text-align: center;
  width: 300px;
  height: 100%;

  @media (max-width: 991px) {
    width: 30%;
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__info {
    padding: 15px 5px;
    background-color: #f6f6f7;
    color: #666;
  }

  &__name {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
  }

  &__job {
    font-size: 16px;
    font-style: italic;
  }
}

.work {
  width: 100%;
  height: 250px;
  background-image: url(../../public/img/works/work-bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 15px 10px;
  overflow: hidden;
  margin: 10px 0;

  @media (max-width: 991px) {
    height: 200px;
  }

  &__img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    max-width: 100%;
    height: 80px;
  }

  img {
    max-width: 100%;
    height: 100%;
  }

  &__text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;

  @media (max-width: 991px) {
    display: none;
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
  }

  &__submenu {
    position: absolute;
    background-color: #fff;
    width: 280px;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0s, opacity 0.3s ease;

    @media (max-width: 991px) {
      position: relative;
    }
  }

  &__item {
    list-style: none;
    position: relative;

    &_phone {
      margin-left: 10px;
      background-color: $accent;
    }

    &:hover {
      .nav__submenu {
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }

  &__subitem {
    list-style: none;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid #f5f5f6;
  }

  &__sublink {
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #1f1f20;
    padding: 5px 0;
    border-bottom: 2px solid #fff;

    &:hover {
      color: #1f1f20;
      text-decoration: none;
      border-bottom: 2px solid $accent;
    }
  }

  &__icons-item {
    :hover {
      background-color: rgba($color: #fff, $alpha: 0.3);
    }
  }

  &__link {
    color: #fff;
    cursor: pointer;
    padding: 17px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 991px) {
      color: #000;
      padding: 8px;
      height: auto;
      border-bottom: 1px solid #666;

      &:hover {
        color: $accent;
      }
    }
  }

  &__icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    & > :not(:last-child) {
      position: relative;
      margin-right: 20px;

      &::after {
        position: absolute;
        right: -10px;
        top: 0;
        content: "";
        height: 100%;
        width: 1px;
        background-color: #fff;
      }
    }
  }
}

.burger {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
  display: none;
  height: 50px;
  width: 50px;
  min-width: 50px;
  background-color: rgba($accent, 0.3);
  z-index: 100;
  margin: 10px;

  @media (max-width: 991px) {
    display: block;
  }

  &__icon {
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;

    &::before {
      content: "";
      width: 25px;
      background: #000;
      height: 2px;
      position: absolute;
      top: -10px;
      left: 0;
    }

    &::after {
      content: "";
      width: 25px;
      background: #000;
      height: 2px;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
}

.city {
  text-decoration: underline;
  display: block;
  position: relative;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  outline: none;

  @media (max-width: 991px) {
    position: absolute;
    right: 80px;
    top: 55px;
    color: #fff;
    z-index: 10000;
  }

  & option {
    background-color: #fff;
    color: #000;
  }
}

.phone {
  display: flex;

  & > :not(:last-child) {
    margin-right: 15px;

    &::after {
      content: "/";
      margin-left: 15px;
    }
  }

  &__item {
    display: block;
    font-size: 18px;
    color: #fff;
  }
}

.header {
  height: 90px;
  background-color: rgba($color: $dark, $alpha: 0.7);
  z-index: 1000;
  width: 100%;
  color: #fff;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;

    @media (max-width: 991px) {
      width: 100%;
      padding: 0;
    }
  }

  & .container,
  .row {
    height: 100%;
  }

  &__logo {
    display: block;
    height: 100%;
    width: 270px;

    @media (max-width: 991px) {
      margin-left: 30px;
      width: 100%;
      padding: 0;
    }
  }

  &__left {
    margin-right: 10px;
  }

  &__right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 290px;
  }

  &__nav-wrap {
    position: relative;
    width: 100%;

    @media (max-width: 991px) {
      position: absolute;
      width: 300px;
      right: 0;
      top: -32px;
    }
  }
}

.intro {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url(../../public/img/intro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__left {
    width: 100%;
    display: flex;
  }

  &__content {
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 36px;
    }

    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 10px;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 575px) {
      font-size: 26px;
    }
  }

  &__accent {
    padding: 10px 60px;
    border: 1px solid #fff;
    background-color: rgba($color: #fff, $alpha: 0.5);
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;

    &:hover {
      color: #000;
      text-decoration: underline;
    }

    &:visited {
      color: #000;
      text-decoration: underline;
    }

    @media (max-width: 991px) {
      font-size: 36px;
    }

    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 22px;
    margin: 20px 0;
  }
}

.intro-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.tabs {
  position: relative;

  &__links {
    padding: 50px 0;
    position: absolute;
    right: 0;

    @media (max-width: 767px) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 0 20px;
      padding-bottom: 0;
    }
  }

  &__link {
    color: #282828;
    font-size: 16px;
    padding: 0 25px;
    font-style: italic;
    display: block;
    margin-top: 10px;

    &:hover {
      color: $accent;
    }

    &.active {
      color: $accent;
    }
  }
}

.tab {
  padding: 50px 20px 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 767px) {
    padding-top: 0;
  }

  & p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.5em;
  }
}

.services {
  background-color: #f5f5f6;

  &__category {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      width: 50%;
      position: relative;
    }
  }

  &__category-arrow {
    cursor: pointer;
    left: 0;
    top: 5px;
    position: absolute;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    transition: 0.3s;

    &::after {
      position: absolute;
      z-index: 100;
      content: "";
      height: 7px;
      width: 1.4px;
      background-color: $accent;
      right: 4px;
      top: 3px;
    }

    &::before {
      position: absolute;
      z-index: 100;
      content: "";
      height: 1.4px;
      width: 7px;
      background-color: $accent;
      right: 4px;
      top: 3px;
    }
  }

  & details[open] &__category-arrow {
    transform: rotate(135deg);
  }

  &__subcategory {
    transition: 0.3s;

    @media (max-width: 991px) {
      position: absolute;
      background-color: #666;
      z-index: 2;
      padding-bottom: 10px;
    }

    .tabs__link {
      @media (max-width: 991px) {
        color: #fff;
      }
    }
  }

  &__category-title {
    font-style: normal;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }
}

.card {
  text-align: left;
  height: 100%;
  background-color: #f5f5f6;
  border-bottom: 20px solid #fff;

  &__img {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  &__content {
    padding: 20px 25px;
  }

  &__date {
    font-size: 12px;
    color: #999;
  }

  &__title {
    font-size: 18px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
    color: #666;
  }
}

.shop {
  text-align: center;
  margin: 45px 0;

  &__title-afer {
    display: block;
    font-size: 36px;
    color: $accent;
    font-style: italic;
    transform: rotate(-4deg);
    margin-bottom: 40px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 220px;
    flex: 1 1 calc((100% / 5) - 4rem);
    height: 220px;
    background-color: #f6f6f7;
    margin-bottom: 20px;
  }

  &__product-img {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-bottom: 1px solid #fff;
  }

  &__product__title {
    text-transform: capitalize;
    font-size: 22px;
    color: #666;
  }
}

.stock {
  background-color: $accent;
  color: #fff;

  &__left {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 5px dashed #fff;
    border-left: 5px dashed #fff;
    padding: 30px 0;
    height: 100%;

    @media (max-width: 767px) {
      border-bottom: 5px dashed #fff;
    }
  }

  &__scissors {
    position: absolute;
    right: -30px;
    top: 63%;
  }

  &__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.5em;
    padding: 30px 0 30px 95px;

    @media (max-width: 991px) {
      padding: 10px;
    }
  }

  &__price-wrap {
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
  }

  &__price {
    font-size: 100px;
    font-weight: 900;
    line-height: 4.7rem;

    @media (max-width: 991px) {
      font-size: 80px;
    }
  }

  &__units {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0;
    padding-left: 10px;
  }

  &__price-after {
    margin-top: 25px;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__title {
    padding-top: 20px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;

    @media (max-width: 991px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;

    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__more {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    color: #282828;

    :visited {
      color: #282828;
    }
  }
}

.news {
  text-align: center;
  margin: 60px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
  }
}

.gallery {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 60px 0;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  &__img-wrap {
    overflow: hidden;
    width: 100%;

    @media (max-width: 991px) {
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.about {
  text-align: center;
  background-color: #f5f5f6;
  padding: 60px 0;

  &__list {
    margin: 30px 0 25px 0;
  }

  &__item {
    background-color: #fff;
    text-align: left;
    padding: 50px 50px 50px 80px;
    color: #666;
    position: relative;
    height: 100%;
    border-bottom: 20px solid #f5f5f6;

    &::before {
      content: "“";
      font-family: Arial, sans-serif;
      font-weight: 900;
      font-size: 60px;
      position: absolute;
      left: 30px;
      top: 30px;
      color: $accent;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__date {
    font-size: 12px;
    color: #999;
  }
}

.contacts {
  background-color: $accent;
  color: #fff;

  &__item {
    height: 190px;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-top: 10px;
  }

  &__text {
    margin-left: 15px;
  }

  &__text-main {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__text-sub {
    color: #fff;
    font-size: 16px;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.footer {
  background-color: #1f1f20;
  color: #999;
  text-align: center;

  &__item {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
      height: 80px;
    }
  }

  &__privacy {
    color: #999;
    margin-bottom: 10px;
    text-decoration: underline;

    &:hover {
      color: #999;
      text-decoration: underline;
    }
  }

  &__social {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}

.social {
  display: flex;

  &__link {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
